<m-container>
<br><br><br><br><br><br>
   
<m-main-menu
[menuitems]="['Log Reading','View Charts','Logged Data']"
(menuclick)="onMenuClick($event)"
></m-main-menu>

@if(activeSection==="Log Reading"){
    <h3> Log your readings</h3>

    <label>Date:</label>
    <input type="date" [(ngModel)]="dateValue">
    <br>
    <label>Soil pH (0-14)</label>
    <input type="number" [(ngModel)]="phValue">
    <br>
    <label>Soil Moisture (%)</label>
    <input type="number" [(ngModel)]="moistureValue">
    <br>
    @if (validationError) {
        <p style="color: red;">{{validationError}}</p>
    }
    <br>
    <button class="pure-button" (click)="saveReading()">Save Reading</button>


}
@if(activeSection==="View Charts"){
    <h3> Charts Viewing</h3>
    <m-timeserieschart
    label="Soil pH"
    [data]="phReadings"
    color="#2e7d32"
    [min] = "0"
    [max] = "14"
    unit="pH"
    ></m-timeserieschart>


<m-timeserieschart
    label="Soil Moisture"
    [data]="moistureReadings"
    [color]="'#1565c0'"
    [min] = "0"
    [max] = "100"
    unit="%"
    ></m-timeserieschart>
}

@if(activeSection==="Logged Data"){
    <h3> Logged Readings </h3>
    <m-search-button (search)="filterTerm=$event"></m-search-button>
    <m-table
    [data]="phReadings"
    [showCaption]="true"
    caption="Soil pH Readings"
    [filterTerm]="filterTerm"
    >
    </m-table>

    <m-table
    [data]="moistureReadings"
    [showCaption]="true"
    caption="Soil moisture Readings"
    [filterTerm]="filterTerm"
    >
    </m-table>
}

@if (showAlerts) {
    <div>
    
        @if (!isPhAlert() && !isMoistureAlert()) {
          <m-aha type="success" header="All Clear" >
            All parameters are within safe ranges.
          </m-aha>
        }

        @else if (isMoistureAlert() && isPhAlert()) {
          <m-aha type="warning" header="Soil Moisture and pH Alert" >
            Latest moisture and ph
            are outside the safe range.
            Check irrigation system.
          </m-aha>
        }
    
        @else if (isPhAlert()) {
          <m-aha type="error" header="Soil pH Alert" >
            Latest pH of {{ getLatest(phReadings) }} is outside
            the safe range (5.5 - 7.5). Soil amendment required.
          </m-aha>
        }
    
        @else if (isMoistureAlert()) {
          <m-aha type="warning" header="Soil Moisture Alert" >
            Latest moisture of {{ getLatest(moistureReadings) }}%
            is outside the safe range (20 - 80%).
            Check irrigation system.
          </m-aha>
        }
      </div>
    }
    
</m-container>